#kurly{
    width: 650px;
    margin: 0 auto;
    .title{
        text-align: center;
        h1{
            img{width:150px}
        }
        h2{
            padding: 40px 0 0 0;
            font-size: 28px;
            font-weight: 600;
            color: #333;
        }
    }
    .content{
        width: 100%;
        padding: 20px 0 0 0;
        h4{
            border-bottom: 2px solid #000;
            width: 100%;
            text-align: right;
            padding: 0 0 10px 0;
            span{
                color: #666;
                font-size: 12px;
                i{
                    color: #c00;
                    font-size: 16px;
                    margin: 0 2px 0 0;
                }
            }
        }
        ul{
            width: 100%;
            padding: 10px 0 0 0;
            li{
                .gap{
                    display: flex;
                    padding: 10px 0;
                    .label-box{
                        width: 160px;
                        padding: 0 0 0 20px;
                        span{
                            color: #111;
                            font-size: 15px;
                            font-weight: 600;
                            i{
                                color: #c00;
                                font-size: 16px;
                                margin: 0 0 0 2px;
                            }
                        }
                    }
                    .input-box{
                        margin: auto 28px auto auto;
                        width: 490px;
                        padding: 0 130px 0 0;
                        position: relative;
                        .inputText{
                            width: 90%;
                            height: 45px;
                            padding: 0 15px 0 15px;
                            border: 1px solid #ccc;
                            border-radius: 3px;
                            margin-bottom: 10px;
                            &::placeholder{
                                color: #bbb;
                                font-size: 14px;
                            }
                            &:focus{
                                outline: 1px solid #666;
                                outline-offset: -1px;
                            }
                            &.addr{
                                border: 1px solid #5f0080;
                                color: #5f0080;
                                cursor: pointer;
                                position: relative;
                                font-weight: 600;
                                width: 100%;
                                background: #fff;
                                img{
                                    position: relative;
                                    top: 5px
                                }
                            }
                        }
                        .w120-btn{
                            width: 120px;
                            height: 45px;
                            border: 1px solid #5f0080;
                            color: #5f0080;
                            background: #fff;
                            font-size: 15px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            font-weight: 600;
                            &.phone{
                                border: 1px solid #ccc;
                                color: #ccc;
                            }
                            &.addPhone{
                                color: #5f0080;
                                border: 1px solid #5f0080;
                            }
                            &.phoneok-btn{
                                top: 50px;
                            }
                        }
                        .counter-timer-box{
                            position: absolute;
                            bottom: 26px;
                            right: 144px;
                            font-size: 12px;
                            color: red;
                        }
                        .add-input-box{margin-top: 10px;
                               >p{
                                font-size: 12px;
                                line-height: 150%;
                                font-weight: bold;
                               } 
                            }
                        p{
                            color: #333;
                            font-size: 13px;
                            margin-top: 7px;
                            &.red{
                                color: rgb(240, 63, 64);
                            }
                            &.green{
                                color: rgb(3, 117, 22);
                            }
                        }
                        .address-info{
                            display: block;
                            margin-top: 10px;
                            font-size: 12px;
                            line-height: 18px;
                            color: rgb(102, 102, 102);
                        }
                        label{
                            input[type='radio']{
                                width: 24px;
                                height: 24px;
                                appearance: none;
                                border: 1px solid #ccc;
                                border-radius: 50%;
                                background: #fff;
                                &:checked{
                                    border: 6px solid #5f0080;
                                    
                                }
                            }
                            span{margin: 10px; font-size: 15px;  position: relative; top: -5px}
                        }
                     
                        .date-box{
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 45px;
                            padding: 0;
                            border: 1px solid #ccc;
                            background-color: #fff;
                            li{
                                height: 100%;
                                input[type='text']{
                                    width: 100%;
                                    text-align: center;
                                    height: 100%;
                                    border: none;
                                    padding: 0;
                                    background: transparent;
                                    &:focus{
                                        outline: 0;
                                    }
                                    &::placeholder{
                                        text-align: center;
                                        color:#bbb;
                                        font-size: 16px;
                                    }
                                }
                                span{ color:#bbb; font-size: 16px; padding-top: 12px; display: block;}
                            }
                        }
                    }
                    

                }
                hr{
                    border-bottom: 1px solid #333;
                    margin: 20px 0;
                    width: 100%;
                }
                &.service{
                    .gap{
                        height: auto;
                        .label-box{
                            padding: 0 0 020px;
                        }
                        .check-box{
                            width: 100%;
                            padding: 0;
                            dl{
                                width: 100%;
                                dt{

                                    label{
                                        display: block;
                                        width: 100%;
                                        input[type='checkbox']{
                                            width: 24px;
                                            height: 24px;
                                            appearance: none;
                                            border-radius: 50%;
                                            background: url(./img/check.svg) no-repeat 50% 50%;
                                            background-size: 24px 24px;
                                            &:checked{
                                                background-image: url(./img/checked.svg);
                                            }

                                        }
                                        span{
                                            font-size: 18px;
                                            color: #444;
                                            font-weight: 500;
                                        }
                                    }
                                    p{
                                        font-size: 12px;
                                        padding: 5px 0 10px 38px;
                                        color: #666;
                                        letter-spacing: -1px;
                                    }
                                }
                                dd{
                                    margin: 20px 0;
                                    position: relative;
                                    label{
                                        position: relative;
                                        width: 100%;
                                        display: block;
                                        input[type='checkbox']{
                                            width: 24px;
                                            height: 24px;
                                            appearance: none;
                                            border-radius: 50%;
                                            background: url(./img/check.svg) no-repeat 50% 50%;
                                            background-size: 24px 24px;
                                            &:checked{
                                                background-image: url(./img/checked.svg);
                                            }
                                        }
                                        span{
                                            font-size: 15px;
                                            line-height: 20px;
                                            top: -10px;
                                        }
                                    }
                                    >span{
                                        position: absolute;
                                        right: 0;
                                        top: 7px;
                                        font-size: 14px;
                                        a{
                                            color: #5f0080;
                                        }
                                    }
                                    .sub-checkbox{
                                        padding: 10px 0 0 38px;
                                        div{
                                            display: flex;
                                            label{
                                                width: 30%
                                            }
                                        }
                                        p{
                                            margin: 15px 0 0 38px;
                                            font-size: 12px;
                                            color: #5f0080;
                                            padding: 0 0 0 15px;
                                            background: url(./img/ico_sub_dot.svg) no-repeat 0 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
    .button-box{
        padding: 50px 0 200px 0;
        text-align: center;
        button{
            width: 250px;
            height: 60px;
            background: #5f0080;
            border: none;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            cursor: pointer;
            transition: .3s;
            &:hover{filter: brightness(120%);}
        }
    }

    .modal{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background: rgba(0,0,0,.6);
        display: flex;
        .container{
            width: 450px;
            height: 270px;
            background: #fff;
            margin: auto;
            .content-box{
                width: 100%;
                height: 170px;
                background: #fff;
                p{
                    font-size: 14px;
                    color: #444;
                    width: 100%;
                    text-align: center;
                    line-height: 170px;
                    font-weight: bold;
                }
            }
            .button-box1{
                width: 100%;
                height: 100px;
                background: rgb(209, 209, 209);
                display: flex;
                align-items: center;
                justify-content: center;
                .ok-btn{
                    width: 150px;
                    height: 45px;
                    background: #5f0080;
                    color: #fff;
                    border: 0;
                    border-radius: 3px;
                }
            }
        }
    }
}